<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-grid>
      <ion-row>
        <ion-col size="auto">
          <img alt="logo" height="100" src="../../assets/img/uofsclogo.jpg">
        </ion-col>
        <ion-col>
          <ion-grid>
            <ion-row>
              <ion-col> 
                <ion-text>Welcome to the</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-text><h1>Koger Center</h1></ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-text><h3> ADA Accessibility Information</h3></ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card-subtitle>Parking</ion-card-subtitle>
      <p>There are a limited number of ADA spaces in front of the Koger Center at the drop off area.
         During ticketed events the metered parking spaces on Assembly Street in front of the Koger 
      Center and on College Street are bagged and reserved as accessible parking as well.</p>
    <ion-card-subtitle> Seating</ion-card-subtitle>
      <p>There are a limited number of accessible seats at the rear of the Orchestra level on both 
         the left and right sides. Please see an Usher for assistance.</p>
    <ion-card-subtitle> Elevators</ion-card-subtitle>
      <p>If you have tickets for seats on the Grand Tier or Balcony levels, there are elevators 
         available at the North end of the Lobby, just past the Assembly Street Entrance from the
         parking lot. Please see an Usher if you need assistance in reaching or operating the elevator.</p>
    <img src="../../assets/img/KogerCenterLogo.jpg">
  </ion-card>
</ion-content>
