<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-grid>
      <ion-row>
        <ion-col size="auto">
          <img alt="logo" height="100" src="../../assets/img/uofsclogo.jpg">
        </ion-col>
        <ion-col>
          <ion-grid>
            <ion-row>
              <ion-col> 
                <ion-text>Welcome to the</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-text><h1>Koger Center</h1></ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="ion-padding">
    <ion-card-title class="ion-text-center">Seat Description</ion-card-title>
    <p class="ion-text-center"><strong>Section:</strong> {{ inputSeat.section }}</p>
    <p class="ion-text-center"><strong>Row:</strong> {{ inputSeat.row }}</p>
    <p class="ion-text-center" *ngIf="inputSeat.seatNum != null"><strong>Seat Number:</strong> {{ inputSeat.seatNum }}</p>
    <p class="ion-text-center"><strong>Swipe for the next step →</strong> </p>
    <ion-slides pager>
      <ion-slide *ngFor="let i of appSlides.items">
        <div class="slide">
          <ion-card-title class="ion-text-center">Directions for Finding Your Seat</ion-card-title>
          <p class="ion-text-center">Step {{ i.id }}: {{ i.description }}</p>
          <img [src]="i.image"/>
          <img *ngIf="i.symbolkey==true" src="../../assets/img/symbolkey.png">
        </div>
      </ion-slide>
      <ion-slide>
        <div class="slide">
          <img [src]="seatView"/>
          <ion-card-subtitle class="ion-text-center">View from Section {{ inputSeat.section }}</ion-card-subtitle>
        </div>
      </ion-slide>
    </ion-slides>
  </ion-card>
</ion-content>
