<!-- Header -->
<ion-header>
  <img src="../../assets/img/BlueKogerWoodmark.jpg">
</ion-header>

<!-- Main content on page -->
<ion-content [fullscreen]="true">
  <!-- Card for the content -->
  <ion-card class="ion-padding">
    <ion-grid>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Enter Ticket Information:</ion-card-title>
        <ion-card-subtitle class="ion-text-center">Section and Row Required</ion-card-subtitle>
      </ion-card-header>
      <!-- Form for validating input seat information (Section and Row Required) -->
      <form class="form" [formGroup]="validations_form">
        <!-- Field to select section -->
        <ion-item>
          <ion-label floating>Section</ion-label>
          <ion-select [(ngModel)]="seat.section" (ngModelChange)="setRows(seat.section)" formControlName="section" name="Section">
            <ion-select-option *ngFor="let i of sections">{{ i }}</ion-select-option>
          </ion-select>
        </ion-item>
        <!-- Validation message for section -->
        <ion-row>
          <ion-col size="auto">
            <div class = "validation-errors">
              <ng-container *ngFor="let validation of validation_messages.section">
              <div class="error-message"
                *ngIf = "validations_form.get('section').hasError(validation.type) && (validations_form.get('section').dirty || validations_form.get('section').touched)">
                {{ validation.message }}
              </div>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>
        <!-- Field to select row -->
        <ion-item>
          <ion-label floating>Row</ion-label>
          <!-- Selected row is removed with change in section -->
          <ion-select [(ngModel)]="seat.row" (ngModelChange)="setSeats(seat.row)" formControlName="row" name="Row">
            <ion-select-option *ngFor="let i of rows">{{ i }}</ion-select-option>
          </ion-select>
        </ion-item>
        <!-- Validation message for row -->
        <ion-row>
          <ion-col size="auto">
            <div class = "validation-errors">
              <ng-container *ngFor="let validation of validation_messages.row">
              <div class="error-message"
                *ngIf = "validations_form.get('row').hasError(validation.type) && (validations_form.get('row').dirty || validations_form.get('row').touched)">
                {{ validation.message }}
              </div>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>
      </form>
      <!-- Field to select seat numnber -->
      <ion-item>
        <ion-label floating>Seat Number: </ion-label>
        <ion-select [(ngModel)]="seat.seatNum" name="SeatNum">
          <ion-select-option *ngFor="let i of seats">{{ i }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <img alt="ticket" height="100" src="../../assets/img/ticket.jpg">
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <!-- Button to go to seat description (can only be clicked when section and row are populated) -->
          <ion-button expand="block" color="kogerblue" type="submit" (click)="goToSeatDescription()" [disabled]="!validations_form.valid">Find Seat</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <!-- Button to show section view -->
          <ion-button expand="block" color="kogerblue" (click)="showSectionView()" [disabled]="!validations_form.valid">Section View</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <!-- Button to scan barcode for ticket information -->
      <ion-card-title class="ion-text-center">Scan Ticket Information</ion-card-title>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="kogerblue" (click)="scanBarcode()">Scan Barcode</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <!-- Button that redirects to ticketing website to buy tickets -->
      <ion-card-title class="ion-text-center">Looking to Purchase Tickets</ion-card-title>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="kogerblue" onclick="window.open('https://itkt.choicecrm.net/templates/USCK/#/events', '_system', 'location=yes'); return false;">Purchase Tickets</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <img src="../../assets/img/WhiteKogerWoodmark.jpg">
  </ion-card>

</ion-content>