<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="auto">
          <img alt="logo" height="100" src="../../assets/img/uofsclogo.jpg">
        </ion-col>
        <ion-col>
          <ion-grid>
            <ion-row>
              <ion-col> 
                <ion-text>Welcome to the</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-text><h1>Koger Center</h1></ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="ion-padding">
    <ion-grid>
      <ion-card-title class="ion-text-center">Enter your ticket information:</ion-card-title>
      <ion-card-subtitle class="ion-text-center">Section and Row Required</ion-card-subtitle>
      <form class="form" [formGroup]="validations_form">
      <ion-item>
        <ion-label floating>Section</ion-label>
        <ion-select [(ngModel)]="seat.section" (ngModelChange)="setRows(seat.section)" formControlName="section" name="Section">
          <ion-select-option *ngFor="let i of sections">{{ i }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-row>
        <ion-col size="auto">
          <div class = "validation-errors">
            <ng-container *ngFor="let validation of validation_messages.section">
            <div class="error-message"
              *ngIf = "validations_form.get('section').hasError(validation.type) && (validations_form.get('section').dirty || validations_form.get('section').touched)">
              {{ validation.message }}
            </div>
            </ng-container>
         </div>
        </ion-col>
      </ion-row>
      <ion-item>
        <ion-label floating>Row</ion-label>
        <ion-select [(ngModel)]="seat.row" (ngModelChange)="setSeats(seat.row)" formControlName="row" name="Row">
          <ion-select-option *ngFor="let i of rows">{{ i }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-row>
        <ion-col size="auto">
          <div class = "validation-errors">
            <ng-container *ngFor="let validation of validation_messages.row">
            <div class="error-message"
              *ngIf = "validations_form.get('row').hasError(validation.type) && (validations_form.get('row').dirty || validations_form.get('row').touched)">
              {{ validation.message }}
            </div>
            </ng-container>
         </div>
        </ion-col>
      </ion-row>
      </form>
      <ion-item>
        <ion-label floating>Seat Number: </ion-label>
        <ion-select [(ngModel)]="seat.seatNum" name="SeatNum">
          <ion-select-option *ngFor="let i of seats">{{ i }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <img alt="ticket" height="100" src="../../assets/img/ticket.jpg">
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="garnet" type="submit" (click)="goToSeatDescription()" [disabled]="!validations_form.valid">Find Seat</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="block" color="garnet" (click)="showSectionView()" [disabled]="!validations_form.valid">Section View</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="block" color="garnet" (click)="scanBarcode()">Scan Barcode</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button type = "button" expand="block" color="garnet" onclick="window.open('https://itkt.choicecrm.net/templates/USCK/#/events', '_system', 'location=yes'); return false;">Purchase Tickets</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-card>

</ion-content>