<ion-header>
  <img src="../../assets/img/BlueKogerWoodmark.jpg">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="ion-padding">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Information Center</ion-card-title>
    </ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="kogerblue" (click) = "jumpToEvents()">Upcoming Events</ion-button>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="kogerblue" (click) = "jumpToArt()">Art in the Koger Center</ion-button>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="kogerblue" (click) = "jumpToParking()">Parking Information</ion-button>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="kogerblue" (click) = "jumpToHandicapped()">ADA Accessibility</ion-button>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <ion-button expand="block" color="kogerblue" onclick="window.open('https://itkt.choicecrm.net/templates/USCK/#/events', '_system', 'location=yes'); return false;">Purchase Tickets</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
            <ion-button expand="block" fill="outline" color="kogerblue" (click)="sendEmail()">Contact Us</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <img src="../../assets/img/WhiteKogerWoodmark.jpg">

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button id="admin-login-btn" expand="block" fill="outline" color="kogerblue" (click)="jumpToLogin()">Admin Login</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
