<ion-header [translucent]="true">
  <ion-toolbar color="kogerblue">
    <ion-buttons slot="start" color="light">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <img src="../../assets/img/BlueKoger.jpg" slot="end" height=80>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="ion-padding">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Send Push Notification to All Devices</ion-card-title>
    </ion-card-header>
    <form [formGroup] = "sendPushForm" (submit)="sendPushNotif()">
      <ion-item>
        <ion-label stacked>Notification Title:</ion-label>
        <ion-input formControlName="pushTitle"
        type="text"
        placeholder="title of notification"
        >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Notification Body:</ion-label>
        <ion-input formControlName="pushBody"
        type="text"
        placeholder="body of notification"
        >
        </ion-input>
      </ion-item>
      <ion-button expand="block" type="submit" color="kogerblue">Send Push</ion-button>
      <div *ngFor = "let mes of message | async">
        <h3>New notifications cannot have the same title AND body of the most recent notification sent!</h3>
        <h4>Previous push title: {{mes.title}}</h4>
        <h4>Previous push body: {{mes.body}}</h4>
      </div>
    </form>
    <img src="../../assets/img/WhiteKogerWoodmark.jpg" />
  </ion-card>
</ion-content>
