<ion-header [translucent]="true">
  <ion-toolbar color="kogerblue">
    <ion-buttons slot="start" color="light">
      <ion-button (click)="jumpToHomePage()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <img src="../../assets/img/BlueKoger.jpg" slot="end" height=80>
  </ion-toolbar>
</ion-header>

<!-- After an admin logs in they are presented several buttons which redirect them to various pages to do admin tasks-->
<ion-content [fullscreen]="true">
  <ion-card class="ion-padding">
    <ion-card-header>
      <ion-card-title class="ion-text-center" id="admin-dashboard-title">Admin Dashboard</ion-card-title>
    </ion-card-header>
    <ion-button id="create-event-btn" type="submit" (click)="createEvent()" expand="block" color="kogerblue">Add an Event</ion-button>
    <ion-button id="edit-event-btn" type="submit" (click)="editEvent()" expand="block" color="kogerblue">Edit or Delete an Event</ion-button>
    <ion-button id="send-push-notifications-btn" type="submit" (click)="sendPush()" expand="block" color="kogerblue">Send Push Notification</ion-button>
    <ion-button id="log-out-btn" type="submit" (click)="logOut()" expand="block" color="kogerblue">Logout</ion-button>
    <img src="../../assets/img/WhiteKogerWoodmark.jpg" />
  </ion-card>
</ion-content>
