<ion-header [translucent]="true">
  <ion-toolbar color="kogerblue">
    <ion-buttons slot="start" color="light">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <img src="../../assets/img/BlueKoger.jpg" slot="end" height=80>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="ion-padding">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Admin Dashboard</ion-card-title>
    </ion-card-header>
    <ion-button type="submit" (click)="createEvent()" expand="block" color="kogerblue">Add an Event</ion-button>
    <ion-button type="submit" (click)="editEvent()" expand="block" color="kogerblue">Edit or Delete an Event</ion-button>
    <ion-button type="submit" (click)="sendPush()" expand="block" color="kogerblue">Send Push Notification</ion-button>
    <ion-button type="submit" (click)="logOut()" expand="block" color="kogerblue">Logout</ion-button>
    <img src="../../assets/img/WhiteKogerWoodmark.jpg" />
  </ion-card>
</ion-content>
