<script type="text/javascript" src="js/SocialSharing.js"></script>
<ion-header [translucent]="true">
  <ion-toolbar color="kogerblue">
    <ion-buttons slot="start" color="light">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <img src="../../assets/img/BlueKoger.jpg" slot="end" height=80>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="ion-padding">
    <ion-card-title class="ion-text-center">Upcoming Events</ion-card-title>
    <ion-item>
      <ion-label><strong>Filter</strong></ion-label>
      <ion-select [(ngModel)]="filterValue">
        <ion-select-option>All Events</ion-select-option>
        <ion-select-option>Broadway</ion-select-option>
        <ion-select-option>Dance</ion-select-option>
        <ion-select-option>Theatre</ion-select-option>
        <ion-select-option>Concert</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-card *ngFor="let event of eventList | async">
      <!-- *ngIf implements filtering from the dropdown, if all events is not selected -->
      <!-- the else statement references the ng-template directive with id #filter -->
      <div *ngIf="filterValue == 'All Events'; else filter">
        <ion-card-header>
          <ion-card-title class="ion-text-center">{{event.title}}</ion-card-title>
          <ion-card-subtitle>{{event.dates}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <!-- Description is shortened to 400 characters per Koger Center request -->
          <ion-card-subtitle><strong>Description</strong></ion-card-subtitle>
          <p>{{event.description | slice:0:400}}{{ event.description.length > 400 ? '...':''}} <a href={{event.link}}
              target="_blank">Click Here to Read More</a></p>
          <ion-button type="tabopen" expand="block" color="kogerblue" (click)="openPurchaseTicket()">Purchase Tickets
          </ion-button>

          <ion-card-subtitle><strong>Share Event On:</strong></ion-card-subtitle>
          <!-- Facebook will not allow any sort of prefilled messages, apparently it's against terms -->
          <ion-button #{{event.link}} color="kogerblue"
            (click)="shareViaFacebook('Check out this show I am going to see at the Koger Center!', null, event.link)"
            font-weight=100>
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-button>
          <!--<ion-button color = "garnet"><a href = "{{'http://www.twitter.com/intent/tweet?text=Check out this show at the Koger Center!&url=' + event.link}}" target="_blank">Share on Twitter!</a></ion-button> -->
          <ion-button #{{event.link}} color="kogerblue"
            (click)="shareViaTwitter('Check out this show I am going to see at the Koger Center!', null, event.link)">
            <ion-icon name="logo-twitter"></ion-icon>
          </ion-button>

        </ion-card-content>
      </div>
      <ng-template #filter>
        <ion-card-header *ngIf="event.tag == filterValue">
          <ion-card-title class="ion-text-center">{{event.title}}</ion-card-title>
          <ion-card-subtitle>{{event.dates}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content *ngIf="event.tag == filterValue">
          <ion-card-subtitle><strong>Description</strong></ion-card-subtitle>
          <p>{{event.description | slice:0:400}}{{ event.description.length > 400 ? '...':''}} <a href={{event.link}}
              target="_blank">Click Here to Read More</a></p>
          <ion-button type="tabopen" expand="block" color="kogerblue" (click)="openPurchaseTicket()">Purchase Tickets
          </ion-button>

          <ion-card-subtitle><strong>Share Event On:</strong></ion-card-subtitle>
          <!-- Facebook will not allow any sort of prefilled messages, apparently it's against terms -->
          <ion-button #{{event.link}} color="kogerblue"
            (click)="shareViaFacebook('Check out this show I am going to see at the Koger Center!', null, event.link)"
            font-weight=100>
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-button>
          <!--<ion-button color = "garnet"><a href = "{{'http://www.twitter.com/intent/tweet?text=Check out this show at the Koger Center!&url=' + event.link}}" target="_blank">Share on Twitter!</a></ion-button> -->
          <ion-button #{{event.link}} color="kogerblue"
            (click)="shareViaTwitter('Check out this show I am going to see at the Koger Center!', null, event.link)">
            <ion-icon name="logo-twitter"></ion-icon>
          </ion-button>
        </ion-card-content>
      </ng-template>
    </ion-card>
    <img src="../../assets/img/WhiteKogerWoodmark.jpg">
  </ion-card>
</ion-content>