a:link, a:visited {
  background-color: white;
  color: var(--ion-color-kogerblue);
  // text-align: center;
  text-decoration: none;
  border-radius: 25px;
  display: inline-block;
}
  
a:hover, a:active {
  color: var(--ion-color-kogerblue);
}