<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="auto">
          <img alt="logo" height="100" src="../../assets/img/uofsclogo.jpg">
        </ion-col>
        <ion-col>
          <ion-grid>
            <ion-row>
              <ion-col> 
                <ion-text>Welcome to the</ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-text><h1>Koger Center</h1></ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="../../assets/img/KogerCenterFront.jpg">
    <ion-card-header>
      <ion-card-subtitle>Welcome to the</ion-card-subtitle>
      <ion-card-title>Koger Center</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>As the gateway to the vista, the capital city's vibrant hub of dining and entertainment, 
        the Koger Center for the Arts stands out as Columbia's premier center for the performing arts.</p> 
      <p>As a cultural destination for audiences seeking diverse experiences in a lively and dynamic setting, 
        the Koger Center features several local arts groups including the Columbia City Ballet, 
        The South Carolina Philharmonic, and the Columbia Classical Ballet. 
        With the University of South Carolina, the Koger Center hosts performances by both the USC Dance Department 
        and the School of Music, including the USC Symphony Orchestra. 
        The Koger Center is proud to also be the home of Broadway In Columbia, 
        bringing the best of world-class productions to Columbia!</p>
      <p>The Koger Center has 2,256 seats on three levels. The Orchestra, Grand Tier, 
        and Balcony all feature continental seating.</p>
    </ion-card-content>
    <img src="../../assets/img/KogerCenterLogo.jpg">
  </ion-card>
</ion-content>
