<ion-header [translucent]="true">
  <ion-toolbar color="kogerblue">
    <ion-buttons slot="start" color="light">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <img src="../../assets/img/BlueKoger.jpg" slot="end" height=80>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="ion-padding">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Parking Information</ion-card-title>
    </ion-card-header>
    <img src="../../assets/img/KogerParking.jpg" />
    <ion-card-content>
      <ion-card class="ion-padding">
        <ion-card-title>Koger Center for the Arts</ion-card-title>
        <a (click)="navme('1051 Greene St, Columbia, SC 29201')"><p>1051 Greene Street</p><p>Columbia, SC 29201</p></a>
      </ion-card>
      <ion-card class="ion-padding">
        <ion-card-title>General Parking</ion-card-title>
        <p>Cost: $10 - $20</p>
        <ul style="list-style-type:disc;">
          <li><ion-card-subtitle><a (click)="navme('1007 Park St, Columbia, SC 29201')">1007 Park Street Garage (Next to SCDOT)</a></ion-card-subtitle></li>
          <li><ion-card-subtitle><a (click)="navme('821 Park St, Columbia, SC 29201')">Discovery Plaza Garage (Behind Koger Center)</a></ion-card-subtitle></li>
          <li><ion-card-subtitle><a (click)="navme('[33.99332938899058, -81.03620917595558]')">General Parking Lots</a></ion-card-subtitle></li>
        </ul>
      </ion-card>
      <ion-card class="ion-padding">
        <ion-card-title>Valet Parking</ion-card-title>
        <p>Valet parking is offered at some, but not all Koger Center events. When available, the drop
        offlocation is in front of the USC School of Music. Enter the drop off area on College Street.
        Please call (803) 777-7500 to see if valet service will be used for a particular event.</p>
      </ion-card>
      <ion-card class="ion-padding">
        <ion-card-title>Accessible Parking</ion-card-title>
        <p>There are a limited number of ADA spaces in front of the Koger Center at the drop off area.
        During ticketed events the metered parking spaces on Assembly Street in front of the Koger 
        Center and on College Street are bagged and reserved as accessible parking as well.</p>
      </ion-card>
    </ion-card-content>
    <img src="../../assets/img/WhiteKogerWoodmark.jpg">
  </ion-card>
</ion-content>
